.register{
    height:70vh;
    width:100vw;
    display: flex;
}
.register_img{
    margin-top: 100px ;
}
.register_input{
    margin-top: 100px ;
    border: 2px solid red;
    border-radius: 4px;
    background-color: #3CBC8D;
  color: white;
}
.register_input > input{
    display:block;
}


