.login{
    height:70vh;
    width:100vw;
    display: flex;
}

.login_img{
    margin-top: 100px ;
}
.login_input{
    margin-top: 100px ;
}
.login_input > input{
    display:block;
}
.button_login{
    height:40px;
    width:130px;
    border-radius:0.5rem; 
    background-color:green;
    font-size:13px;
    font-weight:900;
    color:white;
    border:none;
    outline:none;
}